/* Header */
//Skapa red mode button
.red-mode {
    display: inline;
    z-index: 3;
    position: absolute;
    top: 15px;
    left: 85%;
}
label {
    width: 30px;
    height: 15px;
    background-color: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    position: relative;
    display: block;
}

label::after {
    content: '';
    width: 11px;
    height: 11px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #a92d22;
    border-radius: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: block;
}

input {
    //Göm checkbox knapp
    width: 0;
    height: 0;
    visibility: none;
}
input:checked + label {
    background-color: #a92d22;
}

input:checked + label:after {
    transform: translateX(-100%);
    left: 28px;
    background-color: white;
}

//Justering nav-bar
.navbar {
    width: 103%;
    z-index: 2;
    position: absolute;
    bottom: 250px;
}

.bg-body-tertiary {
    --bs-bg-opacity: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-nav a {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 4%;
}
.nav-link {
    position: relative;
}
/* .nav-link:after {
    content: '';
    height: 1px;
    width: 107%;
    background: rgb(216, 216, 216);
    position: absolute;
    bottom: 0;
    left: -12px;
} */

.navbar-toggler {
    padding-left: 0 !important;
}

.navbar-collapse {
    background-color: white !important;
    height: 27vh;
    z-index: 1;
}

// Justering header
header {
    background-color: white;
    border-radius: 0 0 15px 15px;
    height: 35vh;
    transition: 0.3s;
    z-index: -1;
    overflow: hidden;
}

#pokeball {
    width: 250px;
    opacity: 10%;
    float: right;
    position: relative;
    bottom: 20%;
    left: 10%;
    z-index: 0;
}

/* Footer */
footer {
    background-color: white;
    height: 17vh;
    border-radius: 15px 15px 0 0;
    margin-top: 40px;
}

.footer-container {
    position: relative;
    top: 55px;
}

.footer-icon {
    width: 27px;
    padding-right: 5px;
    opacity: 70%;
}

.footer-icon-white {
    width: 27px;
    padding-right: 5px;
    opacity: 70%;
}

.icons {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.footer-container > p {
    position: relative;
    top: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    opacity: 70%;
}

.grass-background::before {
    background-color: #5da95d;
}
.fire-background::before {
    background-color: #eb9410;
}
.water-background::before {
    background-color: #37a3ca;
}
.normal-background::before {
    background-color: #b4b5b5;
}
.bug-background::before {
    background-color: #bcbe39;
}
.electric-background::before {
    background-color: #e0c738;
}
.psychic-background::before {
    background-color: #dc5697;
}
.fairy-background::before {
    background-color: #fb88c0;
}
.dark-background::before {
    background-color: #383838;
}
.ghost-background::before {
    background-color: #6f4b8b;
}
.ground-background::before {
    background-color: #b0885a;
}
.steel-background::before {
    background-color: #84a2c1;
}
.ice-background::before {
    background-color: #73c7cd;
}
.fighting-background::before {
    background-color: #db7739;
}
.dragon-background::before {
    background-color: #476fba;
}
.flying-background::before {
    background-color: #94abd6;
}
.poison-background::before {
    background-color: #8645bf;
}
.rock-background::before {
    background-color: #b39b75;
}
