@import 'variables';

* {
    box-sizing: border-box;
}

body {
    background-color: #f1eeee !important;
}

main {
    overflow: auto;
    height: 100vh;
}

/* Media queries */
@media (min-width: 768px) {
    .pokemon-container,
    .favorite-pokemon-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
        width: 100%;
    }
    .card {
        background-color: #d9d9d9 !important;
        border: none !important;
        cursor: pointer;
        height: 8.5rem !important;
        width: 8.5rem;
    }
    .card-body h5 {
        bottom: 10px;
        font-size: 0.75rem;
    }
    .card-body h6 {
        left: 80px;
        bottom: 93px;
    }
    .card-img-top {
        width: 5.5rem !important;
    }
}
@media (min-width: 992px) {
    header {
        height: 25em;
        position: relative;
        z-index: 0;
    }
    .navbar-collapse {
        flex-grow: 0 !important;
        height: 100%;
        z-index: 2;
        position: absolute;
        right: 95px;
    }
    #pokeball {
        width: 30%;
    }
    .navbar {
        width: 100%;
    }
    .container-fluid {
        width: auto !important;
    }
    .navbar-nav a {
        font-size: 1.2rem;
        margin-top: 0;
        z-index: 1;
    }
    .nav-link {
        padding: 0 40px 0 40px !important;
        position: relative;
    }
    .red-mode {
        transform: scaleX(1.6) scaleY(1.4);
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1;
    }

    /*  Justering fieldset */
    fieldset {
        top: 65%;
    }
    #search {
        width: 45%;
    }
    #search-icon {
        right: 49%;
    }
    .card {
        width: 11rem;
        height: 11rem !important;
        transition: transform 0.2s ease-in-out;
    }
    .card:hover {
        transform: translateY(-10px);
    }
    .card-img-top {
        width: 7rem !important;
        top: 25px;
    }
    .card-body h6 {
        font-size: 1rem;
        bottom: 120px;
        left: 110px;
    }
    .card-body h5 {
        font-size: 1rem;
        bottom: 10px;
    }

    /*  Add btn */
    .method-btn {
        flex-direction: row;
        align-self: center;
        padding-left: 50px;
    }
    /* Justera buttons */
    #load-more {
        width: 150px;
        height: 50px;
    }
    #delete-pokemon > p {
        color: white !important;
    }
}
@media (min-width: 1050px) {
    .navbar-collapse {
        top: -10px;
        right: 120px;
    }
}
@media (min-width: 1100px) {
    .navbar-collapse {
        top: -30px;
        right: 150px;
    }
    .card {
        width: 12rem;
    }
    .card-body h6 {
        left: 125px;
        bottom: 116px;
    }
}
@media (min-width: 1200px) {
    .navbar-collapse {
        top: -50px;
        right: 175px;
    }
    .card {
        width: 13rem;
        height: 13rem !important;
    }
    .card-img-top {
        width: 9rem !important;
    }
    .card-body h6 {
        left: 145px;
        bottom: 145px;
    }
}
@media (min-width: 1400px) {
    .card {
        width: 15rem;
        height: 15rem !important;
    }
    .card-img-top {
        width: 10rem !important;
    }
    .card-body h6 {
        left: 170px;
        bottom: 160px;
    }
    .card-body h5 {
        bottom: 7px;
        font-size: 1.1rem;
    }
    .navbar-collapse {
        top: -100px;
        left: 253px;
    }
}
