@import 'variables';

* {
    box-sizing: border-box;
}

body {
    background-color: #f1eeee !important;
}

//Skapa red mode button
.red-mode {
    display: inline;
    z-index: 3;
    position: absolute;
    top: 15px;
    left: 85%;
}
label {
    width: 30px;
    height: 15px;
    background-color: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    position: relative;
    display: block;
}

label::after {
    content: '';
    width: 11px;
    height: 11px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #a92d22;
    border-radius: 40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: block;
}

input {
    //Göm checkbox knapp
    width: 0;
    height: 0;
    visibility: none;
}
input:checked + label {
    background-color: #a92d22;
}

input:checked + label:after {
    transform: translateX(-100%);
    left: 28px;
    background-color: white;
}

//Justering nav-bar
.navbar {
    width: 103%;
    z-index: 2;
    position: absolute;
    bottom: 250px;
}

.bg-body-tertiary {
    --bs-bg-opacity: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-nav a {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 4%;
}
.nav-link {
    position: relative;
}
/* .nav-link:after {
    content: '';
    height: 1px;
    width: 107%;
    background: rgb(216, 216, 216);
    position: absolute;
    bottom: 0;
    left: -12px;
} */

.navbar-toggler {
    padding-left: 0 !important;
}

.navbar-collapse {
    background-color: white !important;
    height: 27vh;
    z-index: 1;
}

// Justering header
header {
    background-color: white;
    border-radius: 0 0 15px 15px;
    height: 35vh;
    transition: 0.3s;
    z-index: -1;
}

#pokeball {
    width: 250px;
    opacity: 10%;
    float: right;
    position: relative;
    bottom: 20%;
    left: 10%;
    z-index: 0;
}

// Justering fieldset
fieldset {
    position: absolute;
    top: 22%;
    width: 100%;
}

fieldset > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    left: 10%;
}

#search {
    position: relative;
    left: 7%;
    border-radius: 15px;
    width: 80%;
    height: 40px;
    z-index: 0;
    padding-left: 20px;
    background-color: #eeeeee;
    border: none;
}

#search:focus {
    outline: none;
}

#search-icon {
    position: absolute;
    margin-top: 1%;
    right: 15%;

    z-index: 1;
}

/* Main börjar här */
//Justering innehåll

main > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.card {
    margin-bottom: 12px;
    width: 7rem;
    height: 7rem !important;
    background-color: #d9d9d9 !important;
    border: none !important;
    cursor: pointer;
}

.card-body h5 {
    font-size: 0.7rem;
    text-align: center;
    position: relative;
    bottom: 20px;
}

.card-body h6 {
    font-size: 0.7rem;
    position: relative;
    bottom: 82px;
    left: 70px;
}

.card-img-top {
    width: 4.5rem !important;
    align-self: center;
    position: relative;
    top: 15px;
}

//Load more button
main {
    display: flex;
    flex-direction: column;
}
.btn-danger {
    align-self: center;
    margin-top: 40px;
}

.message {
    align-content: center;
}

.message h2 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    opacity: 60%;
}

/* Footer */
footer {
    background-color: white;
    height: 17vh;
    border-radius: 15px 15px 0 0;
    margin-top: 40px;
}

.footer-container {
    position: relative;
    top: 55px;
}

.footer-icon {
    width: 27px;
    padding-right: 5px;
    opacity: 70%;
}

.footer-icon-white {
    width: 27px;
    padding-right: 5px;
    opacity: 70%;
}

.icons {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.footer-container > p {
    position: relative;
    top: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5rem;
    opacity: 70%;
}

//Media queries
@media (min-width: 768px) {
    .pokemon-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
        width: 100%;
    }

    .card {
        background-color: #d9d9d9 !important;
        border: none !important;
        cursor: pointer;
        height: 8rem !important;
        width: 8rem;
    }
    .card-body h5 {
        bottom: 10px;
    }
    .card-body h6 {
        left: 80px;
    }
    .card-img-top {
        width: 5rem !important;
    }
}

@media (min-width: 992px) {
    header {
        height: 25em;
        position: relative;
        z-index: 0;
    }
    .navbar-collapse {
        flex-grow: 0 !important;
        height: 100%;
        z-index: 2;
    }
    #pokeball {
        width: 30%;
    }
    .navbar {
        width: 100%;
    }
    .container-fluid {
        width: auto !important;
    }
    .navbar-nav a {
        font-size: 1.2rem;
        margin-top: 0;
        z-index: 1;
    }
    .nav-link {
        padding: 0 40px 0 40px !important;
        position: relative;
    }
    .red-mode {
        transform: scaleX(2) scaleY(1.8);
        position: absolute;
        top: 20px;
        left: 30px;
        z-index: 1;
    }

    //Justering fieldset
}
